:root {
    --color-brand: #8D45FF;
}

* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    color: white;
    padding: 0;
    margin: 0;
    background-color: #0F0F0F;
}

.announce {
    font-size: 14px;
    padding: 10px 0;
    color: var(--color-brand);
    text-align: center;
    border-bottom: 1px solid #1C1C1C;
}

.navbar {
    border-bottom: 1px solid #1C1C1C;
}

.grid {
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pages  {
    display: flex;
    justify-content: center;
}

.items {
    font-size: 16px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 40px;
}

.item {
    color: rgba(221, 222, 228, 0.7);
    justify-content: center;
    width: fit-content;
}

.item.active {
    color: white;
}

.button-nav {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

.button-nav > a {
    font-size: 16px;
    color: white;
    padding: 6px 18px;
    background-color: #6523E7;
    border-radius: 6px;
}

.button-nav > a:hover {
    background-color: #8D45FF;
}

a:link, a:visited {
    text-decoration: none;
}

.item:hover {
    color: white;
}

.title {
    margin-top: 80px;
}

.title > h1 {
    line-height: 12px;
    font-size: 48px;
    font-weight: 700;
}

.title > p {
    color: rgba(221, 222, 228, 0.7);
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
}