.title {
    width: fit-content;
}

.grid-title {
    display: flex;
    align-items: center;
    height: 70vh;
}

.grid-title2 {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title > h1 {
    font-size: 96px;
    font-weight: 700;
    text-align: left;
    align-items: center;
}

.title > p {
    text-align: left;
    margin-top: 20px;
    line-height: 25px;
    color: var(--color-grey-70);
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.title2 > h1 {
    font-size: 96px;
    font-weight: 700;
    text-align: right;
}

.title2 > p {
    width: 400px;
    margin-top: 20px;
    line-height: 25px;
    color: var(--color-grey-70);
    font-size: 16px;
    font-weight: 400;
}

.empty2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.work {
    margin-top: 20px;
    border-left: 2px solid var(--color-grey-70);
    padding: 20px;
}

.current {
    border-left: 2px solid var(--color-brand);
}

.work:hover {
    background-color: var(--color-exphover);
}

.exp-title {
    margin-bottom: 5px;
    font-size: 18px;
}

.at {
    margin: 0 2px;
    color: var(--color-grey-70);
}

.work-type {
    font-size: 18px;
}

.date {
    color: var(--color-grey-70);
    font-size: 14px;
    margin-bottom: 20px;
}

.date > a:hover {
    text-decoration: underline;
}

.description {
    font-size: 14px;
    color: var(--color-grey);
}

.job-list {
    margin: 80px 0;
}